<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section class="section has-background-light">
    <h1 class = "title is 2" th:text="${'Glückwunsch, Du hast ' +  {username} + ' ' + 'zum Admin gemacht'}"> </h1></section><br>
<a class = "button" th:href="@{/home}"> Zurück auf die Übersicht</a>

</body>
</html>