<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Kommentar verfassen</title>
</head>
<body>
<section class="section has-background-light">
<h1 class ="title is 2">Kommentar verfassen</h1>
</section>
<section class="section">
    <span style="font-weight: bold;" th:text="*{entry.headline}"></span>
    <br><span th:text="*{entry.text}"></span>
    <br th:text="*{entry.getPostedAt()}">
</section>
<br>
<section class="section has-background-light">
<form th:action="@{/comment/{id}(id=${entry.id})}" th:object="${comment}" method="post">
    <textarea th:field="*{text}"></textarea>
    <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
    <br>
    <button class="button" type="submit">Kommentar verfassen</button>
</form>
</section>
</body>
</html>