<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<section class="section has-background-light">
<h1 class = "title is 2" th:text="${'Willkommen, ' + sessionUser.username + '!'}" th:if="${sessionUser != null}"></h1>
</section> <br>
<section class =" section has-background-light">
<div class ="columns is-multiline">
<div class = "content column">
<form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
    <button class= "button is-success is-rounded" type="submit">Logout</button></form>
<br>
 <a class ="button" th:href="@{/entry}" th:if="${sessionUser.admin == true}"> Neuen Eintrag schreiben </a>
<p></p>
<a class = "button" th:href="@{/admin}" th:if="${sessionUser.admin == true}"> Neuen Administrator benennen </a>
<br>
<ul>
    <li th:each="e: ${entryList}">
        <span style="font-weight: bold;" th:text="*{e.headline}"></span>
        <br><span th:text="*{e.text}"></span>
        <p> verfasst am: <span th:text="*{e.getPostedAt()}"></span>/


        <p th:each="c: ${e.comments}">
        <span class="is-italic" th:text="*{c.text}"></span>
        </p>
        <p> <button class= "button is-success"> <a th:href="@{/comment/{id}(id=${e.id})}"> Kommentar verfassen </a> </button> </p>

            <br>
            <br>

         </span>
        <br>
        <br>
    </li>
</ul>
</div>
</div>

</section>
</body>
</html>