<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-item">
            <a class="navbar-link " ><a th:href="@{/register}"> Registrieren </a>
            </a>
            <div class="navbar-item ">
                    <a class="navbar-link"><a th:href="@{/login}"> Login </a>
                </a>
            </div>
        </div>
    </div>
</nav>

<section class = "section has-background-light">
<h1 class = "title is 2">Take a look around!</h1>
</section>
    <section class = "section">
<ul>
<li th:each="e: ${entryList}">
    <span style ="font-weight: bold;" th:text="*{e.headline}"></span>
    <br><span th:text="*{e.text}"></span>
    <p>verfasst am:</p> <span th:text="*{e.getPostedAt()}"></span>
    <br/>
    <br>
  <p class="is-italic" th:each="c: ${e.comments}">
        <span th:text="*{c.text}"></span>
        <br>
         </p>
        <br>
    </li>
</ul>
    </section>
</body>
</html>