<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<head>
    <meta charset="UTF-8">
    <title>User </title>
</head>
<body>
<section class ="section has background light">
<h1 class ="title is 2">Bitte wähle die Admins aus</h1>
</section>
    <section class ="section">
<ul>
      <li th:each="u: ${userListAdmin}">
          <a th:text="*{u.username + ' ist bereits Admin'}"> </a>
      </li>
    <li th:each="u:${userListRegistered}">
        <a th:text="*{u.username}"></a>
     <form  th:action="@{/admin/{username}(username=${u.username})}" method="post">
    <button class="button" type="submit">Zum Admin ernennen</button></form>
          </ul>
</section>
  </body>
  </html>